//menu bar
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    padding:0 16px 0 16px;
    background: white;
    color: black;
    position: sticky;
    top: 0;
    z-index: 2;
}
.up-line{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: $main-color;
    top: inherit;
    margin: 0 -16px;
}
.logo{
    height: 49px;
    width: 56px;
    font-family: $font-roboto;
    color: $main-color;
}
.title{
    position: absolute;
    transform: translate(15px, 18px);
    font-size: 19px;
    font-weight: 700;
}
.menu-check{
    opacity: 0;
    position: absolute;
    left: 0;
    top: -30px;
}
.menu-check:checked ~ label .hamburguesa{
    display: none;
}
.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu{
    display: block;
}
.closed,
.menu{
    display: none;
}
.menu{
    position: absolute;
    top: 95px;
    left: 0;
    opacity: 0.95;
    background: $main-color;
    font-family: $font-monserat;
    width: 100%;
    height: 484px;
    .home{
        color: #fff;
        padding: 17px 0 17px 0;
        font-size: 20px;
        
    }
}
.menu div{
    text-align: center;
    padding: 17px 0 60px 0;
}
.menu div a{
    color: #fff;
    text-decoration: none;
    border-bottom: oldlace 1px solid;
}
.fa-times, .fa-bars{
    color: $main-color;
}
.button{
   display: none;
}





//sections

.search-sect, .trending-sect, .favorites-sect, .my-gifs-sect, .create-gif-sect, .zoom-out-gif-sect, .footer{ 
    
    font-family: $font-monserat;
    color: $main-color;
    height: 50%;
    //background
    &.bg-w-g{
        @include bg-base;
        background-color: #ffffff;
    }
    &.bg-w-b{
        @include bg-base;
        background-color: $light-mode-color;
        .black-typo{
            color: $typo-bg-color;
            font-size: $font-small;
        }
    }
}

//secciones predefinidas

#search-sect{
    display: block;
}

#favorites-sect, #my-gifs-sect, #create-gif-sect{
    padding-top: 11px;
    display: none;
}
#create-gif-sect{
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.search-sect, .favorites-sect, .my-gifs-sect {
    
    .empty-search{
        display: none;
        margin-top: 100px;
        margin-bottom: 140px;
        h1{
            padding-top: 25px;
            font-size: 35px;
        }
    }
    .empty{
        margin-top: 100px;
        margin-bottom: 140px;
        h1{
            padding-top: 25px;
            font-size: 35px;
        }
    }
    #empty-search{
        display: none;
    }
}






.footer{
    height: 196px;
    border-bottom: 8px solid $main-color;
    .container{
        .box{
            .black-typo{
                color: black;
            }
        }
    }
}


//interacciones

.links a:hover{
    text-decoration: underline;
    text-decoration-color: $secondary-color;
    transition: 1s;
}
.links a:active{
    color: #9CAFC3;
    text-decoration: none ;
}
.icons{
    a:hover{
        color: $main-color !important;  
    }
}

.icon-box:hover{
    background-color: rgba($color: #fff, $alpha: 1.0)  !important;
}


//container
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-align{
        text-align: center;
    }
    //boxes
    .box{
        width: 100%;
        padding: 0 30px;
        &.search-box{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .img-bar{
            margin-top: 30px;
            width: 273px;
            height: 130px;
        }
        #search-bar{
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: revert;
           margin-top: 29px;
           border-radius: 27px;
           border: 1px solid $main-color;
           width: 100%;
           height: 50px;
           //height: 18rem;
           min-width: 290px;
           max-width: 550px;
           .bar-box{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-top: 6px;

           }
      
           .suggest{
               width: 95%;
               height: 10rem;
               border-top:3px $main-color solid;
               margin: 0.5rem;
               padding-top: 1rem;
               .suggest-text{
                   margin-top: 0.4rem;
                   padding-top: 0.1rem;
                   height: 2rem;
                  

               }
           }
           //trending
           
           .search-button{
               width: 35px;
               height: 35px;
               font-size: 20px;
               border: 0;
               color: $main-color;
               background: transparent;
               margin-right: 10px;
            
           }
           .s-bar{
               border: 0;
               font-family: $font-roboto;
               
               &.s-text{ 
                   position: relative;
                   color: grey;
                   background: transparent;
                   outline: none;
                   font-size: 1.3rem;
                   width: 100%;
                   min-width: 200px;
                   max-width: 490px;
                   margin-left: 40px;
                   height: 2rem;
                }
            }
        }

        &.trend-recommend{
            margin-top: 44px;
            //trending
            #suggest{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                
                width: 22rem;
                height: 10rem;
               
                margin: 0.5rem;
                padding-top: 1rem;
                #suggest-text{
                    
                    margin-top: 0.4rem;
                    padding: 0.2rem;
                    height: 2rem;
                    p{
                        margin: 0;
                        font-size: 1rem;
                    }

                }
            }

            p{
                margin-top: 5px;
                margin-bottom: 44px;
                font-size: 2rem;
            }
            // .reflected-input{
            //     p{
            //         font-size: 1.5rem;
            //     }
            // }
            .written-recomend {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 60px;
                margin-bottom: 80px;
                flex-wrap: wrap;
                justify-content: center; 
                scroll-behavior: smooth; 
                
            }
            .show-requested{
                display: contents;
                #more-button{
                    display: none;
                    justify-content: center;
                    align-items: center;
                    width: 130px;
                    height: 50px;
                    border-radius: 25px;
                    border: 1px solid $main-color;
                    margin-top: 20px;
                    padding-top: 2rem;
                }
                #more-button:hover{
                    
                    background-color: $main-color;
                    color: #fff;
                }

            }
        }
        // @keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__container{position:relative;box-sizing:border-box}.splide__list{margin:0!important;padding:0!important;width:-webkit-max-content;width:max-content;will-change:transform}.splide.is-active .splide__list{display:flex}.splide__pagination{display:inline-flex;align-items:center;width:95%;flex-wrap:wrap;justify-content:center;margin:0}.splide__pagination li{list-style-type:none;display:inline-block;line-height:1;margin:0}.splide{visibility:hidden}.splide,.splide__slide{position:relative;outline:none}.splide__slide{box-sizing:border-box;list-style-type:none!important;margin:0;flex-shrink:0}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display:inline-block;width:20px;height:20px;border-radius:50%;border:2px solid #999;border-left-color:transparent;animation:splide-loading 1s linear infinite}.splide__track{position:relative;z-index:0;overflow:hidden}.splide--draggable>.splide__track>.splide__list>.splide__slide{-webkit-user-select:none;user-select:none}.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__track>.splide__list>.splide__slide{position:absolute;top:0;left:0;z-index:0;opacity:0}.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{position:relative;z-index:1;opacity:1}.splide--rtl{direction:rtl}.splide--ttb>.splide__track>.splide__list{display:block}.splide--ttb>.splide__pagination{width:auto}
        // @keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide__container{position:relative;box-sizing:border-box}.splide__list{margin:0!important;padding:0!important;width:-webkit-max-content;width:max-content;will-change:transform}.splide.is-active .splide__list{display:flex}.splide__pagination{display:inline-flex;align-items:center;width:95%;flex-wrap:wrap;justify-content:center;margin:0}.splide__pagination li{list-style-type:none;display:inline-block;line-height:1;margin:0}.splide{visibility:hidden}.splide,.splide__slide{position:relative;outline:none}.splide__slide{box-sizing:border-box;list-style-type:none!important;margin:0;flex-shrink:0}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;display:inline-block;width:20px;height:20px;border-radius:50%;border:2px solid #999;border-left-color:transparent;animation:splide-loading 1s linear infinite}.splide__track{position:relative;z-index:0;overflow:hidden}.splide--draggable>.splide__track>.splide__list>.splide__slide{-webkit-user-select:none;user-select:none}.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__track>.splide__list>.splide__slide{position:absolute;top:0;left:0;z-index:0;opacity:0}.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{position:relative;z-index:1;opacity:1}.splide--rtl{direction:rtl}.splide--ttb>.splide__track>.splide__list{display:block}.splide--ttb>.splide__pagination{width:auto}.splide__arrow{position:absolute;z-index:1;top:50%;transform:translateY(-50%);width:2em;height:2em;border-radius:50%;display:flex;align-items:center;justify-content:center;border:none;padding:0;opacity:.7;background:#ccc}.splide__arrow svg{width:1.2em;height:1.2em}.splide__arrow:hover{cursor:pointer;opacity:.9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__pagination{position:absolute;z-index:1;bottom:.5em;left:50%;transform:translateX(-50%);padding:0}.splide__pagination__page{display:inline-block;width:8px;height:8px;background:#ccc;border-radius:50%;margin:3px;padding:0;transition:transform .2s linear;border:none;opacity:.7}.splide__pagination__page.is-active{transform:scale(1.4);background:#fff}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{width:0;height:3px;background:#ccc}.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid transparent}.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border-color:#000}.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{right:1em;left:auto}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{top:auto;bottom:1em}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination{display:flex;flex-direction:column;bottom:50%;left:auto;right:.5em;transform:translateY(50%)}

        .create-gif{
            display: flex;
            flex-direction: column;
            align-items: center;
            .gif-camera{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                max-width:  700px;
                min-width: 300px;
                max-height: 390px;
                min-height: 300px;
                border: 1px solid $main-color;
            }
            .progress-box{
                display: contents;
                .progress-numbers{
                    display: flex;
                    justify-content: center;
                    height: 40px;
                    margin: 25px 0 20px 0;
                    .progress-circle{
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        border-radius: 16px;
                        border: 1px solid $main-color;
                        padding-top: 5px;
                        margin: 0 13px 0 13px;
                    }
                    .progress-circle:active{
                        background-color: $main-color;
                        color: #fff;

                    }
                }
                .progress-bar{
                    width: 100%;
                    height: 7px;
                    max-width: 800px;
                    min-width: 310px;
                    border-radius: 3px;
                    background-color: $main-color;
                }
                .progress-button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 130px;
                    height: 50px;
                    border-radius: 25px;
                    border: 1px solid $main-color;
                    margin-top: 20px;
                }
                .progress-button:hover{
                    background-color: $main-color;
                    color: #fff;
                }
            }
        }




        &.trending-gifos{
            margin-top: 51px;
            font-size: $font-large;
            p{
                margin-top: 10px;
                margin-bottom: 32px;
            }
        }
        .community{
            scroll-behavior: smooth;
            margin-top: 50px;
            margin-bottom: 140px;
            line-height: 2;
            display: -webkit-box;
            // display: flex;
            // flex-direction: row;
            justify-content: center;
            overflow-x: scroll;
            overflow-y: visible;
            &.trends{
                width: 360px;
                height: 275px;
                margin:  15px 15px;
                .adaptive-text{
                    padding-top: 150px;
                    padding-left: 20px;
                }
            }
           
        }
        .favorites, .my-gifs, .recomendeds{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-top: 60px;
            margin-bottom: 80px;
            flex-wrap: wrap;
            justify-content: center;  
            line-height: 0;
        }

        //gif-cards
      
       
        .gif-card{
            display: block;
            position: relative;
            opacity: 1;
            width: 100%;
            height: 100%;
            max-width: 400px;
            min-width: 150px;
            max-height: 300px;
            min-height: 120px;
            margin:  15px 15px;
            z-index: 1;
            
        

            .gif-box{
                display: none;
                position: absolute;
                background-color: rgba($color: $main-color, $alpha: 0.6);
                .gif-icons{
                    width: 100%;
                    height: 45px;
                    display: flex;
                    flex-direction: row-reverse;
                    .icon-box{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 6px;
                        background-color: rgba($color: #fff, $alpha: 0.7);
                        width: 32px;
                        height: 32px;
                        margin: 10px 5px;
                        i{
                            color: $main-color;
                            font-size: 20px;
                        }
                    }
                }
                .adaptive-text{
                    padding-top: 90px;
                    height: 50px;
                    width: 100%;
                    .gif-title{
                        text-align: start;
                        margin: 0;
                        padding: 0 0 5px 10px;
                        color: #fff;
                        font-size: 1rem;
                        &.gif-name{
                            padding: 25px 0 5px 10px;
                        }
                        &.trend-text{
                            padding-bottom: 30px;
                        }
                    }
                    
                }
            }

            
            //especial boxes
            &.recomended, &.fav-state, &.my-state{
                width: 260px;
                height: 200px;
                .gif-box{
                    width: 260px;
                    height: 200px;
                }
            }
          
            &.trends{
                // height: 275px;
                // width: 100%;
                // min-width: 270px;
                // max-width: 360px;
                margin:  15px 15px;
                width: 360px;
                // min-width: 270px;
                // max-width: 360px;
                height: 275px;
                .gif-box{
                    width: 360px;
                    // min-width: 270px;
                    // max-width: 360px;
                    height: 275px;
                    // margin: 0 5rem;
                }
                .adaptive-text{
                    padding-top: 150px;
                    padding-left: 20px;
                }
            }
            &:hover{
                .gif-box{
                    display: block;
                    transition: .9s ease-out;

                }
            
            }
        }
        // .gif-box:hover{
        //     display: block;
        //     // transition: .9s ease-out;
        //     // animation-iteration-count: infinite;
        // }
        
        &.icon-sect{
            margin-top: 47px;
            margin-bottom: 46px;
            .icons{
                a{
                    width: 20px;
                    height: 20px;
                    text-decoration: none;
                    color: grey;
                    margin: 22px 9px;
                }
            } 
        }
        &.rights{
            margin-bottom: 26px;
            
        }
       
    }
}


//modo oscuro

.oscuro{
    .search-sect{
        .container{
            .show-requested{
                
                #more-button{
                    border: #fff 1px solid;
                }
                #more-button:hover{
                    background-color: #fff;
                    color: $dark-mode-color
                }

                
            }
        }
    }

    .footer{
        border-color: $typo-bg-color;
        .container{
            .box{
                .black-typo{
                    color: #fff;
                }
            }
        }
    }
    .header{
        background: $dark-mode-color;
        .logo{
            color: #fff;
        }
    }
    .up-line{
        background-color: $typo-bg-color;
    }
    .menu{
        background: $typo-bg-color;
    }
    .fa-times, .fa-bars{
        color: #fff;
    }
    .search-sect, .trending-sect, .favorites-sect, .my-gifs-sect, .create-gif-sect, .zoom-out-gif-sect, footer{
        color: #fff;
        &.bg-w-g{
            background-color: $dark-mode-color;
        }
        &.bg-w-b{
            background-color: $dark-mode-color-secondary;
            .black-typo{
                color: #fff;
                
            }
        }
    }
    .box{
        #search-bar{
            border: 1px solid #fff;
            
            .search-button{
                display: block;
                color: #fff;
            }
            
            .s-text{
                background-color: $dark-mode-color;
                color: grey;
                font-size: 16px;
            }
        }
        &.icon-sect{
           
            .icons{
                a{
                    color: #fff;
                }

            }
        }
        .icon-box{
            a{
                color: $main-color;
            }
        }
        .create-gif{
            .gif-camera{
                border: 1px solid #fff  ;
            }
            .progress-box{
                .progress-circle{
                    background-color: #fff;
                    border: 1px solid #fff;
                    color: $dark-mode-color;

                }
                .progress-bar{
                    background-color: #fff;
                }
                .progress-button{
                    border: 1px solid #fff;
                }
                .progress-button:hover{
                    background-color: #fff;
                    color: $dark-mode-color;
                }
            }
        }
    }
    //interacciones
    .links a:active{
        color: #9CAFC3;
        text-decoration: none ;
    }
}





