//colors

$main-color: #572EE5;
$secondary-color: #50E3C2;
$typo-bg-color: #000;
$light-mode-color: #F3F5F8;
$dark-mode-color: #37383C;

//fonts and zizes

$font-roboto: 'roboto', sans-serif;
$font-monserat: 'Montserrat', sans-serif;

//object size

//mixin
@mixin bg-base {
    display: block;
    //position: absolute;
    height: 50%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    z-index: 0;
}