//menu bar desktop
@media(min-width:1280px){
    .header{
        height: 90px;
        padding:0 156px 0 156px;
        background: #fff;
        color: black;
        // position: sticky;
        top: 0;
    }
    .up-line{
        margin: 0 -156px;
    }
    .hamburguesa, .menu-check:checked{
        display: none;
    }
    .logo{
        height: 60px;
        width: 68px;
    }
    .menu{
        display: flex;
        left: auto;
        top: -5px;
        width: 600px;
        height: 90px;
        background:none;
        .home{
            color: $main-color;
            padding: 15px 20px 0 0;
        }
        .button-min{
            display: none;
        }
    }
    .menu div a{
        display: flex;
        color: $main-color;
        text-decoration: none;
        padding: 25px 25px;
        border-bottom: none;
    }
    .button{
        display: flex;
        align-items: center;
        width: 54px;
        height: 54px;
        margin-left: 170px;
        border-radius: 27px;
        border: 2px solid $main-color;
        color: $main-color;
        & a{
            position: absolute;
            padding: 11px 33px 48px 18px;
            
        }
    }
    .cross{
        padding: 19px 19px 17px 17px;
        z-index: 100;
    }
    .button:hover{
        background-color: $main-color;
        .cross:hover{
            color: #fff;
        }
    }
    .button:active{
        background-color: grey;
        border: grey;
    }
}



@media(min-width: 1000px){
    .search-sect{
        .container{
            .box{
                font-size: 25px;
            }
        }
    }
    .container{
        .box{
            .img-bar{
                width: 390px;
                height: 160px;
            }
        }
    }
}


@media(min-width: 1280px){
    //flex
    .search-sect{
        .container{
            .box{
                font-size: 30px;
                &.title-align, &.trend-recommend{
                    margin-top: 76px;
                }
                &.search-box:last-child{
                    margin-bottom: 95px;
                }
            }
        }
    }
    .title{
        position: absolute;
        transform: translate(20px, 22px);
        font-size: 22px;
        font-weight: 700;
    }
    .footer{
        .container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .box{
                &.icon-sect{
                    display: flex;
                    width: 300px;
                    margin: 20px 0 20px 160px;
                    p{
                        padding-top: 19px;
                    }
                    .icons{
                        a{
                            width: 20px;
                            height: 20px;
                            text-decoration: none;
                            color: grey;
                            margin: 22px 9px;
                        }
                    } 
                }
                &.rights{
                    width: 300px;
                    margin: 10px 160px 20px 0;
                    padding: 0;
                }
            }
        }
    }
    //br
    .repair-br{
        display: none;
    }
    //container
    .container{
        .box{
            .img-bar{
                width: 390px;
                height: 190px;
            }
        }
    }
}


//gif card 

// @media(min-width: 300px){
//     .trending-sect{
//         .container{
//             .community{
//                 .gif-card{
//                     &.trends:nth-of-type(1){
//                         display: none;
                        
//                     }
//                     &.trends:nth-of-type(2){
//                         display: none;
                        
//                     }
//                 }
//             }
//         }
//     }
// }
// @media(min-width: 800px){
//     .trending-sect{
//         .container{
//             .community{
//                 .gif-card{
//                     &.trends:nth-of-type(1){
//                         display: none;
                        
//                     }
//                     &.trends:nth-of-type(2){
//                         display: block;
                        
//                     }
//                 }
//             }
//         }
//     }
// }
// @media(min-width: 1280px){
//     .trending-sect{
//         .container{
//             .community{
//                 .gif-card{
//                     &.trends:nth-of-type(1){
//                         display: block;
                        
//                     }
//                     &.trends:nth-of-type(2){
//                         display: block;
                        
//                     }
//                 }
//             }
//         }
//     }
// }


//modo oscuro
@media(min-width: 1280px){
    .oscuro{
        .button{
            border: 2px solid #fff;
            color: #fff;
        }
        .menu{
            background: none;
            .home{
                color: #fff;
            }
        }
        .menu div a{
            color: #fff;
        }
        menu div::after{
            content: "modo diurno";
        }
        .button:hover{
            background-color: #fff;
            .cross:hover{
                color: $typo-bg-color;
            }
        }
        .button:active{
            background-color: grey;
            border: grey;
        }
        .cross:active{
            color: #fff !important; 
        }
    }
}



