* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95px;
  padding: 0 16px 0 16px;
  background: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.up-line {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #572EE5;
  top: 0;
  margin: 0 -16px;
}

.logo {
  height: 49px;
  width: 56px;
}

.menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: -30px;
}

.menu-check:checked ~ label .hamburguesa {
  display: none;
}

.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu {
  display: block;
}

.closed,
.menu {
  display: none;
}

.menu {
  position: absolute;
  top: 95px;
  left: 0;
  opacity: 0.95;
  background: #572EE5;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 484px;
}

.menu div {
  text-align: center;
  padding: 17px 0 60px 0;
}

.menu div a {
  color: #fff;
  text-decoration: none;
  border-bottom: oldlace 1px solid;
}

.fa-times, .fa-bars {
  color: #572EE5;
}

.button {
  display: none;
}

.oscuro .header {
  background: #37383C;
}
.oscuro .up-line {
  background-color: #000;
}
.oscuro .menu {
  background: #000;
}
.oscuro .fa-times, .oscuro .fa-bars {
  color: #fff;
}
.oscuro .search-sect, .oscuro .trending-sect, .oscuro footer {
  color: #fff;
}
.oscuro .search-sect.bg-w-g, .oscuro .trending-sect.bg-w-g, .oscuro footer.bg-w-g {
  background-color: #37383C;
}
.oscuro .search-sect.bg-w-b, .oscuro .trending-sect.bg-w-b, .oscuro footer.bg-w-b {
  background-color: #000;
}

.search-sect, .trending-sect, .footer {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  height: 50%;
}
.search-sect.bg-w-g, .trending-sect.bg-w-g, .footer.bg-w-g {
  display: block;
  height: 50%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #ffffff;
}
.search-sect.bg-w-b, .trending-sect.bg-w-b, .footer.bg-w-b {
  display: block;
  height: 50%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #F3F5F8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1280px) {
  .header {
    height: 90px;
    padding: 0 156px 0 156px;
    background: #fff;
    color: black;
    position: sticky;
    top: 0;
  }

  .up-line {
    margin: 0 -156px;
  }

  .hamburguesa, .menu-check:checked {
    display: none;
  }

  .logo {
    height: 60px;
    width: 68px;
  }

  .menu {
    display: flex;
    left: auto;
    top: -5px;
    width: 500px;
    height: 90px;
    background: none;
  }

  .menu div a {
    display: flex;
    color: #572EE5;
    text-decoration: none;
    padding: 25px 25px;
    border-bottom: none;
  }

  .button {
    display: flex;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 27px;
    border: 2px solid #572EE5;
    color: #572EE5;
  }
  .button a {
    padding: 17px 40px 40px;
    margin-right: 30px;
  }

  .cross {
    padding-left: 17px;
  }
}
@media (min-width: 1280px) {
  .oscuro .button {
    border: 2px solid #fff;
    color: #fff;
  }
  .oscuro .menu {
    background: none;
  }
  .oscuro .menu div a {
    color: #fff;
  }
  .oscuro menu div::after {
    content: "modo diurno";
  }
}

/*# sourceMappingURL=index.css.map */
