* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 95px;
  padding: 0 16px 0 16px;
  background: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

.up-line {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #572EE5;
  top: inherit;
  margin: 0 -16px;
}

.logo {
  height: 49px;
  width: 56px;
  font-family: "roboto", sans-serif;
  color: #572EE5;
}

.title {
  position: absolute;
  transform: translate(15px, 18px);
  font-size: 19px;
  font-weight: 700;
}

.menu-check {
  opacity: 0;
  position: absolute;
  left: 0;
  top: -30px;
}

.menu-check:checked ~ label .hamburguesa {
  display: none;
}

.menu-check:checked ~ label .closed,
.menu-check:checked ~ .menu {
  display: block;
}

.closed,
.menu {
  display: none;
}

.menu {
  position: absolute;
  top: 95px;
  left: 0;
  opacity: 0.95;
  background: #572EE5;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 484px;
}

.menu div {
  text-align: center;
  padding: 17px 0 60px 0;
}

.menu div a {
  color: #fff;
  text-decoration: none;
  border-bottom: oldlace 1px solid;
}

.fa-times, .fa-bars {
  color: #572EE5;
}

.button {
  display: none;
}

.search-sect, .trending-sect, .footer {
  font-family: "Montserrat", sans-serif;
  color: #572EE5;
  height: 50%;
}
.search-sect.bg-w-g, .trending-sect.bg-w-g, .footer.bg-w-g {
  display: block;
  height: 50%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #ffffff;
}
.search-sect.bg-w-b, .trending-sect.bg-w-b, .footer.bg-w-b {
  display: block;
  height: 50%;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #F3F5F8;
}
.search-sect.bg-w-b .black-typo, .trending-sect.bg-w-b .black-typo, .footer.bg-w-b .black-typo {
  color: #000;
  font-size: 14px;
}

.footer {
  height: 196px;
  border-bottom: 8px solid #572EE5;
}
.footer .container .box .black-typo {
  color: black;
}

.links a:hover {
  text-decoration: underline;
  text-decoration-color: #50E3C2;
  transition: 1s;
}

.links a:active {
  color: #9CAFC3;
  text-decoration: none;
}

.icons a:hover {
  color: #572EE5 !important;
}

.icon-box:hover {
  background-color: white !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .title-align {
  text-align: center;
}
.container .box {
  width: 100%;
  padding: 0 30px;
}
.container .box.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .box .img-bar {
  margin-top: 30px;
  width: 273px;
  height: 130px;
}
.container .box .search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29px;
  border-radius: 27px;
  border: 1px solid #572EE5;
  width: 100%;
  height: 50px;
  min-width: 290px;
  max-width: 550px;
}
.container .box .search-bar .s-text {
  color: grey;
  padding-left: 30px;
  font-size: 16px;
}
.container .box.trend-recommend {
  margin-top: 44px;
}
.container .box.trend-recommend p {
  margin-top: 5px;
  margin-bottom: 44px;
  font-size: 14px;
}
.container .box.trend-recommend .written-recomend {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-bottom: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
.container .box.trend-recommend .written-recomend .gif-card {
  width: 100%;
  height: 100%;
  max-width: 400px;
  min-width: 150px;
  max-height: 300px;
  min-height: 120px;
  background-color: rgba(87, 46, 229, 0.6);
  margin: 15px 15px;
}
.container .box.trend-recommend .written-recomend .gif-card .gif-icons {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
}
.container .box.trend-recommend .written-recomend .gif-card .gif-icons .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 32px;
  height: 32px;
  margin: 10px 5px;
}
.container .box.trend-recommend .written-recomend .gif-card .gif-icons .icon-box a {
  font-size: 20px;
}
.container .box.trend-recommend .written-recomend .gif-card.recomended {
  width: 260px;
  height: 200px;
}
.container .box.trend-recommend .written-recomend .gif-card.trends {
  width: 360px;
  height: 275px;
}
.container .box.trending-gifos {
  margin-top: 51px;
  font-size: 20px;
}
.container .box.trending-gifos p {
  margin-top: 10px;
  margin-bottom: 32px;
}
.container .box.gifs {
  width: 100%;
  margin-bottom: 82px;
}
.container .box.icon-sect {
  margin-top: 47px;
  margin-bottom: 46px;
}
.container .box.icon-sect .icons a {
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: grey;
  margin: 22px 9px;
}
.container .box.rights {
  margin-bottom: 26px;
}

.oscuro .footer {
  border-color: #000;
}
.oscuro .footer .container .box .black-typo {
  color: #fff;
}
.oscuro .header {
  background: #37383C;
}
.oscuro .header .logo {
  color: #fff;
}
.oscuro .up-line {
  background-color: #000;
}
.oscuro .menu {
  background: #000;
}
.oscuro .fa-times, .oscuro .fa-bars {
  color: #fff;
}
.oscuro .search-sect, .oscuro .trending-sect, .oscuro footer {
  color: #fff;
}
.oscuro .search-sect.bg-w-g, .oscuro .trending-sect.bg-w-g, .oscuro footer.bg-w-g {
  background-color: #37383C;
}
.oscuro .search-sect.bg-w-b, .oscuro .trending-sect.bg-w-b, .oscuro footer.bg-w-b {
  background-color: #222326;
}
.oscuro .search-sect.bg-w-b .black-typo, .oscuro .trending-sect.bg-w-b .black-typo, .oscuro footer.bg-w-b .black-typo {
  color: #fff;
}
.oscuro .box .search-bar {
  border: 1px solid #fff;
}
.oscuro .box .search-bar .button.search-button {
  display: block;
}
.oscuro .box .search-bar .s-text {
  color: grey;
  font-size: 16px;
}
.oscuro .box.icon-sect .icons a {
  color: #fff;
}
.oscuro .box .icon-box a {
  color: #572EE5;
}
.oscuro .links a:active {
  color: #9CAFC3;
  text-decoration: none;
}

@media (min-width: 1280px) {
  .header {
    height: 90px;
    padding: 0 156px 0 156px;
    background: #fff;
    color: black;
    position: sticky;
    top: 0;
  }

  .up-line {
    margin: 0 -156px;
  }

  .hamburguesa, .menu-check:checked {
    display: none;
  }

  .logo {
    height: 60px;
    width: 68px;
  }

  .menu {
    display: flex;
    left: auto;
    top: -5px;
    width: 500px;
    height: 90px;
    background: none;
  }

  .menu div a {
    display: flex;
    color: #572EE5;
    text-decoration: none;
    padding: 25px 25px;
    border-bottom: none;
  }

  .button {
    display: flex;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 27px;
    border: 2px solid #572EE5;
    color: #572EE5;
  }
  .button a {
    position: absolute;
    padding: 11px 33px 48px 18px;
  }

  .cross {
    padding: 19px 19px 17px 17px;
    z-index: 100;
  }

  .button:hover {
    background-color: #572EE5;
  }
  .button:hover .cross:hover {
    color: #fff;
  }

  .button:active {
    background-color: grey;
    border: grey;
  }
}
@media (min-width: 1000px) {
  .search-sect .container .box {
    font-size: 25px;
  }

  .container .box .img-bar {
    width: 390px;
    height: 160px;
  }
}
@media (min-width: 1280px) {
  .search-sect .container .box {
    font-size: 30px;
  }
  .search-sect .container .box.title-align, .search-sect .container .box.trend-recommend {
    margin-top: 76px;
  }
  .search-sect .container .box.search-box:last-child {
    margin-bottom: 95px;
  }

  .title {
    position: absolute;
    transform: translate(20px, 22px);
    font-size: 22px;
    font-weight: 700;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .container .box.icon-sect {
    display: flex;
    width: 300px;
    margin: 20px 0 20px 160px;
  }
  .footer .container .box.icon-sect p {
    padding-top: 19px;
  }
  .footer .container .box.icon-sect .icons a {
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: grey;
    margin: 22px 9px;
  }
  .footer .container .box.rights {
    width: 300px;
    margin: 10px 160px 20px 0;
    padding: 0;
  }

  .repair-br {
    display: none;
  }

  .container .box .img-bar {
    width: 390px;
    height: 190px;
  }
}
@media (min-width: 1280px) {
  .oscuro .button {
    border: 2px solid #fff;
    color: #fff;
  }
  .oscuro .menu {
    background: none;
  }
  .oscuro .menu div a {
    color: #fff;
  }
  .oscuro menu div::after {
    content: "modo diurno";
  }
  .oscuro .button:hover {
    background-color: #fff;
  }
  .oscuro .button:hover .cross:hover {
    color: #000;
  }
  .oscuro .button:active {
    background-color: grey;
    border: grey;
  }
  .oscuro .cross:active {
    color: #fff !important;
  }
}

/*# sourceMappingURL=index.css.map */
